{% extends "base.html" %}


{% block content %}

    <h3  class="animated fadeIn delay-05s">Our team</h3>
    <ul>
    <li  class="animated fadeIn delay-1s" >Coila Graham</li>
    <li class="animated fadeIn delay-1s">Emma Roach</li>
    <li  class="animated fadeIn delay-1s">Marina the Machine Sergeyeva</li> 
    <li  class="animated fadeIn delay-1s">Melinda Po</li>
    <li  class="animated fadeIn delay-1s">Preetika Kulshrestha</li>
    </ul>


    <h3  class="animated fadeIn delay-2s">Our Story</h3>
    <p  class="animated fadeIn delay-25s">Started at the LinkedIn hackathon.</p>


    </br>
    </br>

{% endblock %}